
.home_page {
    padding: 20px;
}

.homeLink{
    color: #f0860c;
    margin-top:50px;
    font-size: 21px;
    font-weight: 300;
}

.homeLink:hover {
    color: #f0860c;
}

.student {
    font-size: 52px;
    margin-bottom: 20;
}

.mission_line {
    font-size: 20px;
    margin-bottom: 35;
}

.welcome{
    margin-top: 15;
    font-size: 24px;
}
.add-button {
    margin-top: 10px;
    height: fit-content;
}